body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

.modal {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(94, 110, 124, 0.493);

  img {
    width: 1000px;
    height: 700px;
    margin: auto;
    padding: 10px;
    object-fit: cover;
    border-radius: 20px;
  }

  button {
    position: absolute;
    left: 90%;
    top: 5%;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;

  .cards {
    position: relative;

    .card-pictures {
      .current-slide {
        display: flex;
      }
      .hidden {
        display: none;
      }
    }

    img {
      width: 700px;
      height: 500px;
      object-fit: cover;
      border-radius: 20px;
    }
    .arrow {
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0px);
      cursor: pointer;
      transition: all 1s ease-in-out;
      background: none;
      border: none;

      &:before {
        border-top: 3px solid rgb(255, 0, 0);
        border-right: 3px solid rgb(255, 0, 0);
        content: "";
        height: 16px;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -75%, 0px) rotate(135deg);
        width: 16px;
      }
    }

    .prev {
      left: 5%;
      transform: rotate(90deg);
    }

    .next {
      right: 5%;
      transform: rotate(-90deg);
    }
  }
}

.bullets {
  a {
    cursor: pointer;
    display: inline-block;
    height: 0.5em;
    margin: 10px;
    position: relative;
    width: 8px;
    border-radius: 50%;
    background-color: rgb(12, 3, 4);
    padding: 3px;
  }
  .current-bullet {
    background-color: rgb(73, 6, 6);
  }
}
