body {
  margin: 0;
}

.container {
  height: 100vh;
}

header {
  background-color: rgba(14, 13, 13, 0.767);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

p {
  padding: 0px;
  margin: 0px;
}

.sticky {
  position: sticky;
  top: 0;
}

.block-1 header {
  background-color: rgba(255, 0, 0, 0.5);
}

.block-2 header {
  background-color: rgba(0, 60, 255, 0.5);
}

.block-3 header {
  background-color: rgba(9, 255, 0, 0.5);
}

.block-4 header {
  background-color: rgba(255, 217, 0, 0.5);
}

.block-5 header {
  background-color: rgba(255, 0, 234, 0.5);
}
