.order-container {
  display: none;
  color: rgb(0, 0, 0);
  flex-direction: column;
  position: fixed;
  z-index: 9;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  min-width: 500px;
  min-height: 70%;
  padding: 20px;
  background-color: rgb(217, 219, 207);
  border-radius: 10px;
  box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.75);

  h1 {
    text-align: center;
  }
  label {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  form {
    background-size: 20px 20px;
    height: 500px;
    overflow: auto;
  }

  & > * {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 60px;
  }
}

.order-container {
  button {
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(163, 120, 120);
  }

  input {
    border: none;
    border-radius: 5px;
  }

  input[type="date"] {
    overflow: visible;
  }
}

#close-order-form-btn {
  width: 40px;
  position: absolute;
  top: -10px;
  right: 5px;
  background: none;
  cursor: pointer;
}

#comment {
  width: inherit;
  padding-top: 10px;
  padding-bottom: 50px;
}

#same-address:checked ~ .hidden-input {
  display: none;
}

.result-container {
  text-align: center;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;

  table {
    margin: 100px;
    text-align: center;
  }

  table,
  th {
    border: 1px solid black;
    text-align: center;
  }

  th {
    background-color: antiquewhite;
    padding: 10px;
  }

  tr:nth-child(2n + 1) {
    background: rgb(174, 174, 177);
  }
}
.non-valid-class {
  box-shadow: 0 0 5px 1px red;
}

.valid-class {
  box-shadow: 0 0 5px 1px rgb(10, 223, 10);
}

.requirement {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
