@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  .main {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side-bar"
      "footer";

    .nav {
      display: flex;
      flex-direction: row;
    }

    .content {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
      grid-template-areas:
        "main"
        "main"
        "product1"
        "product2"
        "product3"
        "product4";

      .main-product {
        grid-area: main;
      }
      .product-1 {
        grid-area: product1;
      }
      .product-2 {
        grid-area: product2;
      }
      .product-3 {
        grid-area: product3;
      }
      .product-4 {
        grid-area: product4;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .content {
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    grid-template-areas:
      "main product1"
      "main product2"
      "product3 product4";
    .main-product {
      grid-area: main;
    }
    .product-1 {
      grid-area: product1;
    }
    .product-2 {
      grid-area: product2;
    }
    .product-3 {
      grid-area: product3;
    }
    .product-4 {
      grid-area: product4;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  grid-area: content;
}

.shipping {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.product {
  padding: 10px;
  margin: 20px;
  color: gray;
}

.main-product {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  .description {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  img {
    display: flex;
    width: 60%;
  }

  .shipping {
    text-align: center;
    padding: 10px;
  }
}

.product-other {
  min-width: 200px;
  img {
    width: 40%;
  }
  .shipping {
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
  }
}

.product-1 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.product-2 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.product-3 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.product-4 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.product-image {
  display: flex;
  justify-content: space-between;
}

.discount {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.label {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price-offered {
  display: flex;
  align-items: center;
}

.new-price {
  margin-right: 20px;
}

.old-price {
  position: relative;
  display: flex;

  &:before {
    position: absolute;
    content: "";
    align-items: center;
    top: 30%;
    left: -5px;
    width: 50px;
    height: 1px;
    background: gray;
    transform: rotate(18deg);

    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    transform: rotate(18deg);
  }
}

.supplier {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.upper {
  display: flex;

  .description {
    padding-top: 25px;
  }
}

.product-other {
  .shipping {
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

//colors
.Bgc\(\#DE4244\) {
  background-color: #de4244;
}
.Bgc\(\#8DC6C7\) {
  background-color: #8dc6c7;
}
.Bgc\(\#6466B2\) {
  background-color: #6466b2;
}

//colorful solid borders
.Bd\(\#2px\,solid\) {
  border: 2px solid;
}

.Bdc\(\#DE4244\) {
  border-color: #de4244;
}

.Bdc\(\#8DC6C7\) {
  border-color: #8dc6c7;
}

.Bdc\(\#6466B2\) {
  border-color: #6466b2;
}

//right borders
.Bdends {
  border-right: 1px solid gray;
}

//bottom dashed borders
.Bdy\(da\) {
  border-bottom: 1px dashed gray;
}

//width 55%
.W\(55\) {
  width: 55%;
}

//width 33%
.W\(33\) {
  width: 33.3%;
}

//width 35%
.W\(35\) {
  width: 35%;
}

//width 50%
.W\(50\) {
  width: 50%;
}

//font-sizes
.Fz\(12px\) {
  font-size: 12px;
}

//text-color
.C\(red\) {
  color: #de4244;
}

.C\(blue\) {
  color: #8dc6c7;
}

.C\(purple\) {
  color: #6466b2;
}

//box shadow
.Bxsh {
  box-shadow: 7px 8px 25px -16px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 7px 8px 25px -16px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 7px 8px 25px -16px rgba(0, 0, 0, 0.63);
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-areas:
    "header header header header"
    "nav content content side-bar"
    "footer footer footer footer";
}

.header {
  background-color: rgb(99, 99, 122);
  padding: 10px;
  color: #8dc6c7;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

  img {
    width: 50px;
  }
}

.nav {
  background-color: rgb(63, 63, 62);
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: nav;
  padding: 20px;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #8dc6c7;
  }
}

.side-bar {
  background-color: rgb(63, 63, 62);
  text-align: center;
  grid-area: side-bar;
}

.footer {
  background-color: #111;
  text-align: center;
  grid-area: footer;
  padding: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side-bar"
      "footer";
  }
}

#form-container {
  height: 60vh;
  margin: 20px;
  grid-area: content;

  form {
    display: flex;
    flex-direction: column;
    & > * {
      margin-bottom: 15px;
    }
  }
}

.about-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: content;
  text-align: center;

  p {
    padding: 30px;
    width: 500px;
  }
}

.registration-container {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 9;
  left: 50%;
  top: 12%;
  transform: translate(-50%);
  width: 400px;
  min-height: 70%;
  padding: 20px;
  background-color: rgb(217, 219, 210);
  border-radius: 10px;
  box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 19px 0px rgba(0, 0, 0, 0.75);
}

.registration-title {
  margin-top: 1px;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.registration-container form {
  display: flex;
  flex-direction: column;

  & > input {
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
    margin-top: 9px;
    border-radius: 5px;
    border: none;
    padding: 10px;
  }
}

#close-registration-button {
  width: 40px;
  position: absolute;
  top: -20px;
  right: 5px;
  background: none;
  cursor: pointer;
}

#register-button {
  font-size: 18px;
  margin: 0;
  cursor: pointer;
  background: none;
}

.submit-button {
  background-color: rgb(55, 214, 81);
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.fb-login-button {
  margin-top: 10px;
}

#order-btn {
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #111;
  color: #8dc6c7;
  cursor: pointer;
}
