@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
body {
  font-family: "Heebo", sans-serif;
}

.w-widget-container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
}

.current-w-container {
  width: 270px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-width: 300px;

  table {
    border-spacing: 0;
    border-collapse: collapse;

    tr {
      &:nth-child(2n - 1) {
        background: rgb(245, 243, 243);
      }
    }

    td {
      padding: 5px;
      border: 0.5px solid rgb(201, 193, 193);
    }
  }

  span {
    padding-bottom: 10px;
  }

  a {
    padding-left: 5px;
    color: orange;
    text-decoration: none;
    display: inline;
  }

  #icon {
    width: 90px;
  }
}

.hourly-w-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  table {
    border-spacing: 0;
    width: 650px;
    border-collapse: collapse;

    th {
      background: rgb(245, 242, 242);
      border-bottom: 1px solid rgb(206, 205, 205);
      border-top: 1px solid rgb(206, 205, 205);
      padding: 10px 0 10px 8px;
      text-align: left;
    }

    td {
      border-bottom: 1px solid rgb(189, 186, 186);
    }

    tr td:first-child {
      width: 10px;
    }

    tr td:last-child {
      width: 200px;
      font-size: 16px;
      text-align: left;
    }

    .hourly-w-temp {
      background-color: gray;
      font-size: 12px;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 40px;
    }
  }
}
