@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");

body {
  height: 100%;
  width: 100%;
  font-family: "Hind", sans-serif;
  margin: 0;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}
.customer-page-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .customer-form {
    width: 60%;
    background-color: rgba(202, 210, 212, 0.719);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-size: 20px 20px;
    max-height: 700px;
    margin-top: 10px;
    color: rgb(56, 20, 20);

    h1,
    h2 {
      text-align: center;
    }
    input {
      border-radius: 7px;
      border: none;
      margin-top: 2px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    select {
      border: none;
      border-radius: 7px;
    }

    span {
      text-align: center;
      font-size: 20px;
      color: rgb(255, 64, 0);
    }

    button {
      width: 200px;
      border: none;
      border-radius: 7px;
      padding: 10px;
      cursor: pointer;
      margin: 10px auto;

      &:hover {
        background-color: rgb(122, 233, 172);
      }
    }
    .invalid {
      box-shadow: 0 0 5px 1px red;
    }
    .valid {
      box-shadow: 0 0 5px 1px rgba(10, 223, 10, 0.541);
    }
  }
}
